<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testimonial.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @testimonial.rating %>
</p>

<p>
  <b>Comments:</b>
  <%= @testimonial.comments %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
